## data analysis

In [2]:
import pandas as pd
import numpy as np

import statsmodels.api as sm
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.stattools import coint

In [5]:
pr_rd1_d0 = pd.read_csv('data/round1/prices_round_1_day_0.csv', delimiter=';')
pr_rd1_d0.head()

,day,timestamp,product,bid_price_1,bid_volume_1,bid_price_2,bid_volume_2,bid_price_3,bid_volume_3,ask_price_1,ask_volume_1,ask_price_2,ask_volume_2,ask_price_3,ask_volume_3,mid_price,profit_and_loss
0,0,0,RAINFOREST_RESIN,9998,1,9995.0,30.0,NaN,NaN,10005,30,NaN,NaN,NaN,NaN,10001.5,0.0
1,0,0,KELP,2028,30,NaN,NaN,NaN,NaN,2032,30,NaN,NaN,NaN,NaN,2030.0,0.0
2,0,0,SQUID_INK,1968,30,NaN,NaN,NaN,NaN,1971,30,NaN,NaN,NaN,NaN,1969.5,0.0
3,0,100,SQUID_INK,1969,4,1967.0,31.0,NaN,NaN,1971,31,NaN,NaN,NaN,NaN,1970.0,0.0
4,0,100,KELP,2030,4,2028.0,31.0,NaN,NaN,2032,31,NaN,NaN,NaN,NaN,2031.0,0.0

In [ ]:
rainfr = pr_rd1_d0[pr_rd1_d0['product'] == 'RAINFOREST_RESIN']
kelp = pr_rd1_d0[pr_rd1_d0['product'] == 'KELP']
squid = pr_rd1_d0[pr_rd1_d0['product'] == 'SQUID_INK']

pr_rd1_d0 = pr_rd1_d0.drop(columns = ['bid_price_2', 'bid_volume_2', 'bid_price_3', 'bid_volume_3', 'ask_price_2', 'ask_volume_2', 'ask_price_3', 'ask_volume_3'])

print(rainfr.head())
print(kelp.head())
print(squid.head())

    day  timestamp           product  bid_price_1  bid_volume_1  bid_price_2  \
0     0          0  RAINFOREST_RESIN         9998             1       9995.0
5     0        100  RAINFOREST_RESIN         9996             1       9995.0
7     0        200  RAINFOREST_RESIN         9996             1       9995.0
11    0        300  RAINFOREST_RESIN         9996             2       9995.0
12    0        400  RAINFOREST_RESIN         9998             5       9996.0

    bid_volume_2  bid_price_3  bid_volume_3  ask_price_1  ask_volume_1  \
0           30.0          NaN           NaN        10005            30
5           30.0          NaN           NaN        10002             6
7           21.0          NaN           NaN        10004             1
11          23.0          NaN           NaN         9998             3
12           2.0       9995.0          23.0        10004             2

    ask_price_2  ask_volume_2  ask_price_3  ask_volume_3  mid_price  \
0           NaN           NaN          NaN           NaN    10001.5
5       10004.0           1.0      10005.0          30.0     9999.0
7       10005.0          21.0          NaN           NaN    10000.0
11      10004.0           2.0      10005.0          23.0     9997.0
12      10005.0          23.0          NaN           NaN    10001.0

    profit_and_loss
0               0.0
5               0.0
7               0.0
11              0.0
12              0.0
    day  timestamp product  bid_price_1  bid_volume_1  bid_price_2  \
1     0          0    KELP         2028            30          NaN
4     0        100    KELP         2030             4       2028.0
8     0        200    KELP         2029             1       2028.0
10    0        300    KELP         2029            25          NaN
13    0        400    KELP         2029             2       2028.0

    bid_volume_2  bid_price_3  bid_volume_3  ask_price_1  ask_volume_1  \
1            NaN          NaN           NaN         2032            30
4           31.0          NaN           NaN         2032            31
8           21.0          NaN           NaN         2032            22
10           NaN          NaN           NaN         2032            25
13          23.0          NaN           NaN         2030             6

    ask_price_2  ask_volume_2  ask_price_3  ask_volume_3  mid_price  \
1           NaN           NaN          NaN           NaN     2030.0
4           NaN           NaN          NaN           NaN     2031.0
8           NaN           NaN          NaN           NaN     2030.5
10          NaN           NaN          NaN           NaN     2030.5
13       2032.0          25.0          NaN           NaN     2029.5

    profit_and_loss
1               0.0
4               0.0
8               0.0
10              0.0
13              0.0
    day  timestamp    product  bid_price_1  bid_volume_1  bid_price_2  \
2     0          0  SQUID_INK         1968            30          NaN
3     0        100  SQUID_INK         1969             4       1967.0
6     0        200  SQUID_INK         1966             1       1965.0
9     0        300  SQUID_INK         1965            25          NaN
14    0        400  SQUID_INK         1966            25          NaN

    bid_volume_2  bid_price_3  bid_volume_3  ask_price_1  ask_volume_1  \
2            NaN          NaN           NaN         1971            30
3           31.0          NaN           NaN         1971            31
6           21.0          NaN           NaN         1969            22
9            NaN          NaN           NaN         1968            25
14           NaN          NaN           NaN         1968             6

    ask_price_2  ask_volume_2  ask_price_3  ask_volume_3  mid_price  \
2           NaN           NaN          NaN           NaN     1969.5
3           NaN           NaN          NaN           NaN     1970.0
6           NaN           NaN          NaN           NaN     1967.5
9           NaN           NaN          NaN           NaN     1966.5
14       1969.0          25.0          NaN           NaN     1967.0

    profit_and_loss
2               0.0
3               0.0
6               0.0
9               0.0
14              0.0